* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
}

.dark {
  background: #111827;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

button {
  cursor: pointer;
}